<section >
    <div>
        <div class="row mt-4 ms-5">
            <a href="/admin/add-songs" class="btn btn-success" 
            style="color: #ffffff; width: 95%;">Add songs</a>
        </div>
        <table class="table mt-5 ms-5"  style="width:92%">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">Song-name</th>
                    <th scope="col">Artist-name</th>
                    <th>Image</th>
                    <th>Edit & Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each songs}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Artist}}</td>
                    <td><img style="width: 50px; height:60px;" src="{{this.image}}" alt="song-img">
                    </td>
                    <td>
                        <a href="/admin/edit-song/{{this._id}}" class="btn btn-success">Edit</a>
                        <a href="/admin/delete-song/{{this._id}}" class="btn btn-danger" 
                        onclick="return confirm('Are you want to delete {{this.Name}}')">Delete</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</section>